.table-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  margin-left: 25px;
}

.table-wrapper {
  margin: 10px;
}

.table {
  width: 50%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border: 1px solid;
}

.table th {
  font-weight: bold;
}


